.buttons__section {
	display: flex;
	flex-direction: column;
	margin: 10px auto;
	span {
		color: $darkGrayishCyan;
	}
}
.buttons__container {
	width: 100%;
	height: fit-content;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr 1fr 1fr;
	justify-items: center;
	align-items: stretch;
	gap: 5% 5%;
}
.buttons__input {
	color: $veryDarkCyan;
	width: 85%;
	border: none;
	text-align: end;

	border-radius: 5px;
	font-weight: 700;
	background-color: $lightGrayishCyan;
	padding-right: 5%;
	font-size: 1.4rem;
	&:focus {
		outline-color: $primary;
		box-shadow: 0 0 2px;
	}
}
.button {
	border: none;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: $veryDarkCyan;
	color: $white;
	border-radius: 5px;
	font-weight: 700;
	font-size: 1.4rem;
	&:hover {
		background-color: $primary;
		opacity: 0.8;
		color: $veryDarkCyan;
		cursor: pointer;
	}
	&:focus {
		background-color: $primary;
		color: $veryDarkCyan;
	}
}
