.container {
	width: 100vw;
	max-width: 375px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	background-color: darken($lightGrayishCyan, 30%);
}
.title {
	h2 {
		color: $veryDarkCyan;
		margin: 20px;
		opacity: 0.6;
	}
}
.calc__container {
	width: 100%;
	margin: 0 auto;
	background-color: $white;
	border-radius: 25px 25px 0 0;
	display: flex;
	flex-direction: column;
}

.footer {
	display: none;
}
