.input__container {
	display: flex;
	flex-direction: column;
	margin: 10px auto;
}
.input__label {
	color: $darkGrayishCyan;
	font-weight: 500;
}
.icon__container {
	height: 1px;
}
.iconDollar {
	position: relative;
	left: 3%;
	top: 6px;
}
.iconPerson {
	position: relative;
	left: 3%;
	top: 6px;
}
.label__container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;

	span {
		color: $error;
		font-size: 1vw;
	}
	.buttons__error {
		color: $error;
		font-size: 1vw;
	}
}
.input {
	color: $veryDarkCyan;
	font-weight: 700;
	font-size: 1.2rem;
	background-color: $lightGrayishCyan;
	border: none;
	border-radius: 5px;
	text-align: end;
}
.focus {
	&:focus {
		outline-color: $primary;
		box-shadow: 0 0 2px;
	}
}
.errorFocus {
	&:focus {
		outline-color: $error;
		box-shadow: 0 0 2px;
	}
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
